<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Burst for business</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="media-queries.css">
	</head>
<body>
<main>
	<header>

		<div class="line">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div>

		<nav>
			<div class="logo"><a href="#"><img src="img/logo.png"><br><span class="logo-text">for business</span></a></div>
			<ul>
				<li class="current">HOME</li>
				<li><a href="#">DEMO</a></li>
				<li><a href="#">CONTACT US</a></li>
				<li class="signin"><a href="#">SIGN IN</a></li>
			</ul>
			<div class="for-consumers">
				<a href="#">
				Burst for Consumers 
				<img src="img/small_arrow.png">
				</a>
			</div>
		</nav>


		<div class="banner">
			<img src="img/banner-phone.png">
			<div class="text">
				<h1>Mobile Video Solution <br>for Business</h1>
				<p>Engaging consumers, facilitationg content creation</p>
				<button>View Demo</button>
			</div>
		</div>

	</header>

	<div class="mainblock">		

	 	<div class="block1">
			<div class="block1_all">
				<div class="capture">
					<div class="image"><img src="img/capture.png"></div>
					<h2>1. Capture</h2>
					<p>Easily create video from your mobile phone</p>
				</div>
				<div class="arrow ar1"></div>
				<div class="publish">
					<div class="image"><img src="img/publish.png"></div>
					<h2>2. Publish</h2>
					<p>You can publish to web immediately</p>
				</div>
				<div class="arrow ar2"></div>
				<div class="monetize">
					<div class="image"><img src="img/monetize.png"></div>
					<h2>3. Monetize</h2>
					<p>Ad inventory built right in</p>
				</div>
			</div>
		</div>

		<div class="block2">
			<div>
				<div class="img img1"></div>
				<h3>Easy content creation</h3>
				<p>Using any mobile phone, capturing 
content is easy and inexpensive</p>
			</div>
			<div>
				<div class="img img2"></div>
				<h3>Content Management</h3>
				<p>With full administration, our content 
management tool puts you in 
control of the content</p>
			</div>
			<div>
				<div class="img img3"></div>
				<h3>Consumer Engagement</h3>
				<p>Videos engage end users and 
drive more traffic.</p>
			</div>
			<div>
				<div class="img img4"></div>
				<h3>Video = $$$</h3>
				<p>With ad inventory and the 
ability to white label, your company 
will have new revenue streams</p>
			</div>

			<button>View All Features<div class="arrow ar3"></button>
		</div>

	</div>

	<footer>
		<div class="email"><a href="mailto:info@burst.it">info@burst.it</a><br>For Press Inquiries: <a href="mailto:info@burst.it">burst@v2comms.com</a></div>

		<address>Burst.it, LLC <br>184 High Street, Boston, MA 02110</address>

		<div class="images"><a href="#"><img src="img/google_play.png"></a><a href="#"><img src="img/app_store.png"></a></div>

		<ul>
			<li><a href="#">Privacy policy</a></li>
			<li><a href="#">Terms of service</a></li>
			<li><a href="#">Burst for Consumers</a></li>
		</ul>
	</footer>
</main>
</body>
</html>