* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, main {
  height: 100%;
  min-height: 350px;
}

li {
  list-style: none;
}

/* colors */
header input:hover, header input:focus, .container li, .pagination li:not(.currentPage):hover {
  background-color: #eee7e2;  
}

main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: #56514d;
  justify-content: space-between;
  overflow: hidden;

}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #302a27;
  flex-basis: 10%;
  min-height: 40px;
  max-height: 45px;
}

header input {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 12px;
  outline: none;
  border: none;
  background-color: #d4c8bf;  
  transition: 0.2s;
}
header input:focus {
  border: 2px solid #666;
}
header input::-webkit-input-placeholder {
  color: #56514d;
}
header input:focus::-webkit-input-placeholder {
  color: transparent;
}
header input:-ms-input-placeholder {
  color: #56514d;
}
header input:focus:-ms-input-placeholder {
  color: transparent;
}


/* container */

ul.container {
  flex-basis: 85%;
  display: flex;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container li {
  margin: 10px;
  width: 33.333%;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  overflow-y: auto;

}

.container img {
  width: 100%;
}

.container p {
  margin: 0 10px;
}

.container h3 {
  margin: 10px 10px;
  font-size: 1.2rem;
}

.container h3 a {
  text-decoration: none;
  color: #db6539;
  transition: 0.2s;
}
.container h3 a:hover {
  color: #eab39e;
}

.container p {
  font-size: 0.9rem;
  overflow-wrap: break-word;
  margin-bottom: 2px;
}

p.date, p.views {
  font-size: 0.8rem;
  color: #999;
}

p.description {
  margin-top: 10px;
}

.smooth {
  -webkit-transition: left 0.5s ease-out;
          transition: left 0.5s ease-out;
}

/* pagination */

.pagination li {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  cursor: pointer;
  margin: 0 4px;
  background-color: #bdab9e;
  transition: 0.2s;
}

.pagination .currentPage {
  background-color: #db6539;
  cursor: default;
}


.message {
  position: absolute;
  margin: 10px 15px;
  top: 0;
  right: 0;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #db6539;
  color: #fff;
  opacity: 0;
  -webkit-animation: show 3s ease-out;
     -moz-animation: show 3s ease-out;
      -ms-animation: show 3s ease-out;
          animation: show 3s ease-out;
}


/*** Animation ***/

@-webkit-keyframes show {
  form {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes show {
  form {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes show {
  form {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  form {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  65% {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}



/* media queries */

@media screen and (max-width: 800px) {
  .container li {
    width: 50%;
  }
  .pagination li {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    margin: 0 3px;
  }  
}

@media screen and (max-width: 540px) {
  .container li {
    width: 100%;
  }

  .pagination li {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 2px;
  }  
}
