<div ng-controller="MainCtrl">
	<div>
	<p>
		<label>Search for: <input ng-model="filterText" ng-change="searchWithInterval()"></label></p><p>
		<label>Maximum repo size: <input ng-model="maxSize" ng-change="searchWithInterval()"></label></p><p>
		<label>Minimum number of forks: <input ng-model="minForks" ng-change="searchWithInterval()"></label></p><p>
		<label>Minimum number of stars: <input ng-model="minStars" ng-change="searchWithInterval()"></label></p>
		</select></p>
		<p>Limit: <input type="text" ng-model="limit" ng-keydown="searchWithInterval()"></p>
		<p><input value="Get repos" type="button" ng-click="search()"></p>
	</div>

	<div ng-repeat="repo in repos" class="item">
		<div>
		Repo: <a href='{{repo.html_url}}'>{{repo.full_name}}</a><br>
		<span>Language: {{repo.language}}</span><br>
		User <span>{{repo.owner.id}}: </span><span ng-bind='repo.owner.login'></span><br>
		<img style='width:70px;' ng-src='{{repo.owner.avatar_url}}'><br>
		<a href="#/details/{{repo.id}}" ng-click="setRepos({{repo}},{{repos}})">Details</a>
		</div>
	</div>
</div>